<!doctype html>
<html>
<head>
<template source='TPL:admin.common.head' />
</head>
<body>
<div class="wrap J_check_wrap">	
	

	<form class="J_ajaxForm"  action="{@url:windid/time/dorun}" method="post">
	<div class="h_a">时区设置</div>
	<div class="table_full">
		<table width="100%">
			<col class="th" />
			<col width="400" />
			<col />	
			<tr>
				<th>默认时区</th>
				<td>
					<component tpl='TPL:common.widgets.timezone' args="array('name' => 'timeTimezone' , 'value' => $config['timezone'])" />
				</td>
				<td><div class="fun_tips">系统默认时间显示。会员可在前台设置中心进行调整</div></td>
			</tr>
			<tr>
				<th>服务器时间校正</th>
				<td>
					<input name="timecv" type="number" class="input length_5 mr5" value="{$config['timecv']}">分钟
				</td>
				<td><div class="fun_tips">如果站点显示时间与服务器时间有差异，可用此功能进行微调</div></td>
			</tr>
		</table>
	</div>
	<div class="btn_wrap">
		<div class="btn_wrap_pd">
			<button class="btn btn_submit J_ajax_submit_btn" type="submit" >提交</button>
		</div>
	</div>
	</form>
</div>
<template source='TPL:admin.common.footer' />

</body>
</html>