<!doctype html>
<html>
<head>
<template source='common.head' />
</head>
<body>
<div class="wrap">

<!--搜索开始-->
	<div class="h_a">有关“<span class="red">{$keyword}</span>”的搜索结果</div>
	<div class="search_list">
		<!--# if($result){ #-->
			<!--# foreach($result as $k=>$v) { #-->
			<h2><a class="J_search_items" href="{$v['url']|html}&searchword={$keyword}" data-id="{$k|html}" data-parent="{$v['parent']|html}" data-level="{$v['level']}">{$v['name']|html}</a></h2>
			<!--# if($v['items']){
				foreach($v['items'] as $v2){
			#-->
			<dl>
				<dd>{$v2|html}</dd>
			</dl>
				<!--# } #-->
			<!--# } #-->
			<!--# if ($v['sub']) {
			 #-->
			<dl>
				<!--# foreach($v['sub'] as $v2){ #-->
				<dt><a class="J_search_items" href="{$v2['url']|html}&searchword={$keyword}" data-id="{$k|html}" data-parent="{$v['parent']|html}" data-level="{$v['level']}">{$v2['name']|html}</a></dt>
					<!--# foreach($v2['items'] as $v3){ #-->
				<dd>{$v3|html}</dd>
					<!--# } #-->
				<!--# } #-->
			</dl>
			<!--# } #-->
		<!--# 
			}
		} else { #-->
		<dl>
			<dt><span class="red">没有找到相关内容</span></dt>
		</dl>
		<!--# } #-->
	</div>

<!--搜索结束-->

</div>
<template source='common.footer' />
<script>
$(function(){
	var par_win = parent.window,
		par_doc = $(par_win.document),
		par_menu_main = par_doc.find('#J_B_main_block'),	//顶部导航
		par_menu_side = par_doc.find('#B_menubar'),			//左侧导航
		_SUBMENU_CONFIG = parent.window.SUBMENU_CONFIG,		//导航数据
		href = '';

	$('a.J_search_items').on('click', function(e){
		e.preventDefault();
		var $this = $(this),
			id = $this.data('id'),						//id
			par = $this.data('parent'),					//父导航id
			level = parseInt($this.data('level'));		//二级三级导航标识

		href = this.href;
		eachSubmenu(_SUBMENU_CONFIG, id, par, level);
	});



	//查询导航数据
	function eachSubmenu(data, id, par, level){
		for(i in data) {
			if(level == 2) {
				if(i == par) {
					//一级
					setMenuMain(par_menu_main.find('a[data-id='+ par +']'));
					eachSubmenu(data[par]['items'], id, par, level);
					break;
				}else if(i == id){
					//二级
					setMenuSide(data, id, par, level);
				}

			}else if(level == 3) {
				if(i == par) {
					//匹配父导航
					var root = data[i]['parent'];
					setMenuMain(par_menu_main.find('a[data-id='+ data[i]['parent'] +']'));
					setMenuSide(_SUBMENU_CONFIG[root]['items'], id, par, level);
					break;
				}else{
					//父导航不匹配
					var items = data[i]['items'];
					if(items) {
						eachSubmenu(items, id, par, level)
					}

				}
			}
			
			
		}
	}

	//设置顶部导航
	function setMenuMain(elem){
		elem.parent().addClass('current').siblings().removeClass('current');
	}

	//设置左侧导航
	function setMenuSide(data, id, par, level){

		var arr  = [],			//左侧一级导航数据
			child_arr = [];		//左侧二级导航数据

		//循环数据
		$.each(data, function(i, o){
			var cls = (o.id == id ? 'current' : '');
			
			//添加一级数据
			arr.push('<dt class="'+ cls +'"><a href="'+ o.url +'" data-id="'+ o.id +'">'+ o.name +'</a></dt>');

			if(level == 3 && i == par){
				//进入二级导航
				$.each(o['items'], function(i, o){
					child_arr.push('<li><a href="'+ o.url +'" data-id="'+ o.id +'">'+ o.name +'</a></li>');
				});

				var style = (o.id == par ? '' : 'display:none;');

				//并入一级
				arr.push('<dd style="'+ style +'"><ul>'+child_arr.join('')+'</ul></dd>');
			}
			
		});

		//show_left_menu(data_list['items']);
		par_menu_side.html(arr.join('')).attr('data-id', par);

		////检查是否应该出现上一页、下一页
		par_win.checkMenuNext();

		var side_item = par_doc.find('a[data-id='+ id +']');

		//点击导航展开iframe
		par_win.iframeJudge({
			elem : side_item,
			href : href,
			id : id
		});
		
	}

});
</script>
</body>
</html>