/*#
===================
@explain: 应用
@copyright: Copyright 2012,phpwind.com
@author: longwenid@gmail.com
$Id: app.css 23148 2013-01-06 11:29:22Z yanchixia $
===================
#*/

/*
===================
应用结构
===================
*/
.app_page{
	padding:10px 15px 15px;
}

/*
===================
标题
===================
*/
.app_page .hd{
	border-bottom:1px solid #e8e8e8;
	padding-bottom:5px;
	margin-bottom:15px;
	height:30px;
}
.app_page .hd h2{
	float:left;
	font-size:14px;
	line-height:30px;
}
.app_page .hd .search{
	float:right;
}
.app_page .hd .input{
	padding:3px 4px 2px;
	margin-right:5px;
}

/*
===================
内容区域
===================
*/
.app_page .ct{
	color:#666;
	min-height:400px;
}
.app_page .ct ul{
	margin-bottom:10px;
}
.app_page .ct li{
	float:left;
	width:49.5%;
	height:120px;
}
.app_page .ct li img{
	float:left;
	margin-right:10px;
}
.app_page .ct li div{
	float:left;
	width:200px;
}
.app_page .ct li p{
	margin-bottom:5px;
	height:36px;
	line-height:18px;
	overflow:hidden;
}
.app_page .ct li a.in{
	color:#999;
}
.app_page .ct li a.in em{
	font-family:Simsun;
}
.app_page .ct h3{
	font-size:12px;
	margin-bottom:5px;
}

/*
===================
搜索数量
===================
*/
.search_num{
	margin-bottom:15px;
}




