<li>
<div class="tmode_waterfall">
<!--# if (is_array($threadthumb[$value['tid']])){ #-->
<!--#
	foreach ($threadthumb[$value['tid']] as $k=>$thumb) {if(1 == $k)break;
#-->
	<div class="img">
		<a href="{@url:bbs/read/run?tid=$value['tid']&fid=$value['fid']}"><img src="{@Pw::getPath($thumb,2)}" align="{$value['subject']}" width="200" height="200" /></a>
	</div>
	<div class="title">
		<span class="posts_icon"><i class="icon_{$value['icon']}" title="{$icon[$value['icon']]}"></i></span>
		<!--# if ($value['topic_type'] && $pwforum->forumset['topic_type_display'] && isset($topictypes['all_types'][$value['topic_type']])) { #-->
			<!--# if ($_parentid = $topictypes['all_types'][$value['topic_type']]['parentid']) { #-->
		<a href="{@url:bbs/thread/run?fid=$pwforum->fid&type=$_parentid}" class="st">[{$topictypes['all_types'][$_parentid]['name']|html}]</a>
			<!--# } #-->
		<a href="{@url:bbs/thread/run?fid=$pwforum->fid&type=$value['topic_type']}" class="st">[{$topictypes['all_types'][$value['topic_type']]['name']|html}]</a>
		<!--# } #-->
		<a href="{@url:bbs/read/run?tid=$value['tid']&fid=$value['fid']}" class="st" style="{$value['highlight_style']}" title="{$value['subject']}">{@Pw::substrs($value['subject'],$numofthreadtitle)}</a>
	<hook class='$threadList' name='createHtmlAfterSubject' args="array($value)" />
	<!--# if ($value['inspect']) { 
		$value['inspect'][0] = ($value['inspect'][0]) == 0 ? '主' : $value['inspect'][0];
	#-->
	<span class="red">[{$value['inspect'][1]}阅至{$value['inspect'][0]}楼]</span>
	<!--# } #-->

	<!--# if ($value['ifupload']) { #--><span class="posts_icon" style="display:none;"><i class="icon_{$uploadIcon[$value['ifupload']]}" title="{$icon[$uploadIcon[$value['ifupload']]]}"></i></span><!--# } #-->
	</div>
<!--# } #-->
<!--# } else { #-->
	<div class="text">
		<div class="subject" style="{$value['highlight_style']}">
			<span class="posts_icon"><i class="icon_{$value['icon']}" title="{$icon[$value['icon']]}"></i></span>
		<!--# if ($value['topic_type'] && $pwforum->forumset['topic_type_display'] && isset($topictypes['all_types'][$value['topic_type']])) { #-->
			<!--# if ($_parentid = $topictypes['all_types'][$value['topic_type']]['parentid']) { #-->
		<a href="{@url:bbs/thread/run?fid=$pwforum->fid&type=$_parentid}" class="st">[{$topictypes['all_types'][$_parentid]['name']|html}]</a>
			<!--# } #-->
		<a href="{@url:bbs/thread/run?fid=$pwforum->fid&type=$value['topic_type']}" class="st">[{$topictypes['all_types'][$value['topic_type']]['name']|html}]</a>
		<!--# } #-->
		<a href="{@url:bbs/read/run?tid=$value['tid']&fid=$value['fid']}" class="st">{@Pw::substrs($value['subject'],$numofthreadtitle)}</a></div>
		<div class="descrip"><a href="{@url:bbs/read/run?tid=$value['tid']&fid=$value['fid']}" class="st">{@Pw::substrs(Pw::stripWindCode($threadContent[$value['tid']]['content'],true),140)}</a></div>
	</div>
<!--# } #-->

	<div class="user">
		<a class="J_user_card_show" data-uid="{$value['created_userid']}" href="{@url:space/index/run?uid=$value['created_userid']}" target="_blank"><img class="J_avatar" src="{@Pw::getAvatar($value['created_userid'], 'small')}" data-type="small" width="30" height="30" alt="{$value['created_username']}" />{$value['created_username']}</a>
    <span class="time">{@Pw::time2str($value['created_time'], 'Y-m-d')}</span>
  </div>
	
<!--
  <div class="title"><a class="J_user_card_show" data-uid="{$value['lastpost_userid']}" href="{@url:space/index/run?uid=$value['lastpost_userid']}" target="_blank">{$value['lastpost_username']}</a></div>
  <div class="descrip"><a rel="nofollow" href="{@url:bbs/read/run?tid=$value['tid']&fid=$value['fid']&page=e}#a">{@Pw::time2str($value['lastpost_time'],'m-d H:i')}</a></div>
-->

  <div class="num">
	<!--# if ($operateThread) { #-->
	<input class="J_check" name="" type="checkbox" value="{$value['tid']}" autocomplete="off" />
	<!--# } #-->
    <span class="icon_like" title="喜欢">{$value['like_count']}</span>
    <span class="icon_reply" title="回复">{$value['replies']}</span>
  </div>
</div>
</li>