<!doctype html>
<html>
<head>
<template source='simple_header' load='true' />
</head>
<body>
<div class="header">
	<a href="{@url:app/simple/index/thread?fid=$fid}" class="home_link">返回</a>
	<a href="{@url:bbs/read/run?fid=$fid&tid=$tid}" target="_blank" class="intact">完整</a>
	<h1>{$threadInfo['subject']}</h1>
</div>
<div style="display:none;">
<!--# if (!$loginUser->isExists()) { #-->
<div class="login">
	<a href="{@url:u/login/run}" target="_blank" rel="nofollow">登录</a><a href="{@url:u/register/run}" target="_blank">注册</a>
</div>
<!--#} else { #-->
<div><a href="{@url:bbs/post/reply?fid=$fid&tid=$tid}" target="_blank">回复主题</a><a href="{@url:bbs/post/run?fid=$fid}" target="_blank">发表主题</a></div>
<!--#}#-->
</div>

<!--#foreach($readdb as $key=>$read){#-->
<div class="subject">
	<!--#if ($read['subject']) {#-->
	<h2>{$read['subject']}</h2>
	<!--#}#-->
	<div class="info">
		<span class="author">{$read['created_username']}发表于{@Pw::time2str($read['created_time'])}</span>
	</div>
</div>
<div class="editor_content">
	{$read['content']|html}
</div>
<!--#}#-->
<page tpl="simple_page" page="$page" per="$perpage" count="$count" total="$totalpage" url="app/simple/index/read?tid=$tid"/>
<a href="{@url:app/simple/index/read?fid=$fid&tid=$fid}#" class="retop">top</a>
<template source='simple_footer' load='true' />
</body>
</html>