<div style="width:440px;">
	<form action="{@url:manage/doban}" method="post" id="J_post_manage_ajaxForm">
	<input type="hidden" name="tids" value="{$tids}" id="tids" />
	
	<div class="pop_top J_drag_handle"><a href="#" class="pop_close J_close">关闭</a><strong class="mr5">用户禁止</strong>(&nbsp;<span id="J_manage_checked_count" class="red">{$count}</span>&nbsp;名)</div>
	<div class="pop_cont">
		<div class="pop_operat_management">
			<dl class="cc">
				<dt>禁止对象：</dt><dd>
<!--#foreach ($userNames as $one) {#-->
				{$one['username']}<span class="s1" style="display:none">(管理员权限点判断)</span>,
				<input type="hidden" value="{$one['uid']}" name="uids[]" />
<!--#}#-->
			</dl>
<!--#//管理员才显示禁止范围#-->
			<dl class="cc">
				<dt>禁止范围：</dt><dd><label class="mr20"><input name="params[_other][banAll]" type="radio" value="1" checked/>本版禁止</label><label><input name="params[_other][banAll]" type="radio" value="2" />全站禁止</label></dd>
			</dl>
<!--##-->
			<dl class="cc">
				<dt>禁止时间：</dt><dd>
				<select class="select_5" name="params[ban][day]">
<!--#foreach ($dayTypes as $key => $item) {#-->
					<option value="{$key}">{$item['title']}</option>
<!--#}#-->
				</select>
				</dd>
			</dl>
			<dl class="cc">
				<dt>禁止类型：</dt><dd>
<!--#foreach ($types as $key => $item) {#-->
				<input type="checkbox" value="{$key}" name="params[ban][type][]" />{$item['title']}
<!--#}#-->
				</dd>
			</dl>
			<dl class="cc">
				<dt>禁止多帐号：</dt>
				<dd><label class="mr20"><input name="params[ban][ban_others]" type="radio" value="1"/>禁止</label><label><input name="params[ban][ban_others]" type="radio" value="0" checked/>不禁止</label></dd>
			</dl>
		</div>
		<div class="pop_operat_reason">
			<dl class="cc">
				<dt>操作理由：</dt>
				<dd>
					<input name="params[ban][reason]" type="text" id="J_resson_input" placeholder="写点操作理由吧" class="input length_5 mb10" />
					<select id="J_resson_select" class="select_5" size="5">
						<option>优秀文章，支持！</option>
						<option>神马都是浮云</option>
						<option>手抖了。。。。</option>
						<option>多读书啊孩子！</option>
						<option>你妈喊你回家吃饭，亲</option>
					</select>
				</dd>
			</dl>
		</div>
	</div>
	<div class="pop_bottom cc">
		<button type="submit" class="btn btn_submit fr" id="J_sub_topped">提交</button>
		<input type="hidden" name="params[_other][sendnotice]" value="1" />
		<span class="fl"><label class="mr10"><input name="params[thread][delCurrent]" type="checkbox" value="1" />删除当前主题</label>
      <!--#if ($loginUser->isAdmin()) {#-->
      	<label class="mr10"><input name="params[thread][delBbs]" type="checkbox" value="1" />删除全站主题</label>
      <!--#}else{#-->
		<label><input name="params[thread][delForum]" type="checkbox" value="1" />删除本版主题</label>
	  <!--#}#-->
		</span>
	</div>
	</form>
</div>