<!-- <style>
/*
===================
推送模块
===================
*/
.thread_recommend_mode{
	padding:10px 15px;
}
.thread_recommend_mode .photo{
	float:left;
}
.thread_recommend_mode .photo li{
	float:left;
	width:120px;
	margin-right:30px;
	display:inline;
}
.thread_recommend_mode .photo li span{
	display:block;
	line-height:18px;
	height:18px;
	overflow:hidden;
}
.thread_recommend_mode .photo li a{
	display:block;
	color:#666;
	padding-top:3px;
}
.thread_recommend_mode .photo li img{
	vertical-align:top;
	margin-bottom:5px;
}
.thread_recommend_mode .list{
	overflow:hidden;
}
.thread_recommend_mode .list li{
	font-size:14px;
	overflow:hidden;
	line-height:20px;
	height:20px;
	margin-bottom:4px;
}
.thread_recommend_mode .list li a{
	color:#666;
}
</style>
<div class="box_wrap thread_recommend_mode cc">
	<ul class="photo">
		<design role="module" id="D_mod_36"/>
	</ul>
	<ul class="list">
		<design role="module" id="D_mod_37"/>
	</ul>
</div> -->
<design role="segment" id="segment1"/>
