<!doctype html>
<html>
<head>
<template source='TPL:admin.common.head' />
</head>
<body>
<div class="wrap">

<div class="nav">
	<ul class="cc">
		<li{$typeClasses['member']|html}><a href="{@url:app/replyreward/manage/run}">会员组</a></li>
		<li{$typeClasses['special']|html}><a href="{@url:app/replyreward/manage/run?type=special}">特殊组</a></li>
		<li{$typeClasses['system']|html}><a href="{@url:app/replyreward/manage/run?type=system}">管理组</a></li>
		<li{$typeClasses['default']|html}><a href="{@url:app/replyreward/manage/run?type=default}">默认组</a></li>
	</ul>
</div>

<div class="h_a">提示信息</div>
<div class="mb10 prompt_text">
	<ol>
		<li>您还可以在【用户 - 用户组权限 - 其他权限】里面修改设置</li>
	</ol>
</div>

<form class="J_ajaxForm" data-role="list" action="{@url:app/replyreward/manage/doset}" method="post">
<input type="hidden" name="grouptype" value="{$groupType}" />
<div class="table_list">
	<table width="100%" id="J_group_table">
		<col width="50">
		<col width="50">
		<col width="200">
		<thead>
			<tr>
				<td>编号</td>
				<td>头衔</td>
				<td>回帖奖励功能</td>
			</tr>
		</thead>
		<tbody id="J_groupList">
		<!--# 
			foreach ($groups as $group) {
		#-->
		<tr>
			<td>{$group['gid']}</td>
			<td>{$group['name']}</td>

			<td>
					<ul class="switch_list cc">
						<li><label><input type="radio" name="conf[{$group['gid']}]" value="1" {@Pw::ifcheck($configInfo[$group['gid']] == 1)}><span>开启</span></label></li>
						<li><label><input type="radio" name="conf[{$group['gid']}]" value="0" {@Pw::ifcheck(!$configInfo[$group['gid']])}><span>关闭</span></label></li>
					</ul>
			</td>
		</tr>
		<!--# } #-->
		</tbody>

	</table>
</div>
<div class="btn_wrap">
	<div class="btn_wrap_pd" id="J_sub_wrap">
   <button type="submit" class="btn btn_submit J_ajax_submit_btn">提交</button>
	</div>
</div>
</form>

</div>
<template source='TPL:admin.common.footer' />
</body>
</html>