<!doctype html>
<html>
<head>
<template source='TPL:admin.common.head' />
</head>
<body class="J_scroll_fixed">
<div class="wrap jj">
	<div class="nav">
		<div class="return"><a href="{@url:app/verify/manage/users}">返回上一级</a></div>
		<ul>
			<li class="current"><a href="{@url:app/verify/manage/userset}">用户认证管理</a></li>
		</ul>
	</div>
<!--====================用户编辑开始====================-->
<form class="J_ajaxForm" action="{@WindUrlHelper::createUrl('admin/u/manage/doEdit')}" method="post">
<input type="hidden" value="{$uid}" name="uid"/>
<div class="h_a">用户信息</div>
<div class="table_full">
	<table width="100%">
		<col class="th" />
		<col/>
		<thead>
		</thead>
		<tr>
			<th>用户名</th>
			<td colspan="2">{$info['username']}</td>
			
		</tr>
		<tr>
			<th>真实姓名</th>
			<td><!--# if ($info['realname']) { #-->{$info['realname']}<!--# } #--></td>
			<!--# if ($info['realname']) { #-->
			<td><a class="J_ajax_del" data-msg="确定要取消认证状态？" href="{@url:app/verify/manage/deleteVerify?uid=$info['uid']&type=1}">取消认证状态</a></td>
			<!--# } else { #-->
			<td>未认证</td>
			<!--# } #-->
		</tr>
		<tr>
			<th>头像认证</th>
			<td><!--# if ($info['avatar']) { #--><div><img id="J_face_img" class="J_avatar" data-type="middle" src="{@Pw::getAvatar($info['uid'])}?t={@Pw::getTime()}" class="face"></div><!--# } #--></td>
			<td><!--# if (!$info['avatar']) { #-->未认证<!--# } else { #-->已认证<!--# } #--></td>
		</tr>
		<tr>
			<th>电子邮箱</th>
			<td><!--# if ($info['email']) { #-->{$info['email']}<!--# } #--></td>
			<td><!--# if (!$info['email']) { #-->未认证<!--# } else { #-->已认证<!--# } #--></td>
		</tr>
		<tr>
			<th>支付宝</th>
			<td><!--# if ($info['alipay']) { #-->{$info['alipay']}<!--# } #--></td>
			<td><!--# if (!$info['alipay']) { #-->未认证<!--# } else { #-->已认证<!--# } #--></td>
		</tr>
		<tr>
			<th>手机号码</th>
			<td><!--# if ($info['alipay']) { #-->{$info['mobile']}<!--# } #--></td>
			<td><!--# if (!$info['mobile']) { #-->未认证<!--# } else { #-->已认证<!--# } #--></td>
		</tr>
		
	</table>
	</div>

</form>

</div>
<template source='TPL:admin.common.footer' />

</body>
</html>