<!doctype html>
<html>
<head>
<template source='TPL:admin.common.head' />
</head>
<body>
<div class="wrap J_check_wrap">
	<div class="nav">
		<ul>
			<li><a href="{@url:app/verify/manage/run}">认证设置</a></li>
			<li><a href="{@url:app/verify/manage/rights}">认证权限</a></li>
			<li class="current"><a href="{@url:app/verify/manage/users}">认证会员</a></li>
			<li><a href="{@url:app/verify/manage/check}">认证审核</a></li>
		</ul>
	</div>

	<div class="h_a">搜索</div>
	<div class="search_type cc mb10">
		<form action="{@url:app/verify/manage/users}" method="post" >
			<label>用户名：</label><input type="text" class="input length_3 mr10" name="username" value="{$args['username']}">
			<label>认证类型：</label>
			<select name="type" class="select_3 mr10">
				<option value="">全部</option>
				<!--# foreach ($verifyTypes as $tk => $type) { #-->
				<option value="{$tk}" {@Pw::isSelected($tk == $args['type'])}>{$type}</option>
				<!--# } #-->
			</select>
			<button class="btn">搜索</button>
		</form>
	</div>
	<div class="h_a">认证会员</div>
	<form class="J_ajaxForm" action="{@WindUrlHelper::createUrl('message/manage/deletemessages')}" method="post" >
	
	<div class="table_list">
		
		<table width="100%" id="J_subcheck">
			<colgroup>
				<col width="100">
				<col width="300">
				<col width="100">
				<col width="100">
				<col width="100">
				<col width="80">
				<col width="80">
			</colgroup>
			<thead>
				<tr>
					<td>用户名</td>
					<td>已通过认证</td>
					<td>真实姓名</td>
					<td>电子邮箱</td>
					<td>支付宝</td>
					<td>手机号码</td>	
					<td>操作</td>				
				</tr>
			</thead>
			<!--# foreach ($list as $value) { #-->
			<tr>
				<td>{$value['username']}</td>
				<td>{$value['passVerify']}</td>
				<td>{@$value['realname']}</td>
				<td>{$value['email']}</td>
				<td>{$value['alipay']}</td>
				<td>{$value['mobile']}</td>
				<td><a href="{@url:app/verify/manage/userset?uid=$value['uid']}">[管理]</a></td>
			</tr>
			<!--# } #-->
		</table>
		<div class="p10">
			<page tpl='TPL:common.page' page='$page' count='$count' per='$perpage' url='app/verify/manage/users' args='$args'/>
		</div>

	</div>
	</form>
</div>
<template source='TPL:admin.common.footer' />
</body>
</html>