<!doctype html>
<html>
<head>
<template source='TPL:common.head' load='true' />
<link href="{@G:design.url.css}/style.css" rel="stylesheet" />
<!-- 
css目录：{@G:design.url.css} 
images目录:{@G:design.url.images} 
js目录:{@G:design.url.js}
-->
</head>
<body>
<pw-start/>
	<div class="wrap">
	<pw-head/>
	<div class="main_wrap">
		<pw-navigate/>
		<div class="main cc">
			<!-- 
				css目录使用{@G:design.url.css} 
				images目录使用{@G:design.url.images} 
				js目录使用{@G:design.url.js}
			-->

			<!-- 网页设计区域开始 -->
			


			<!-- 网页设计区域结束 -->

		</div>
	</div>
	<pw-footer/>
	</div>
<script>
Wind.use('jquery', 'global');
</script>
<pw-end/>
</body>
</html>