<hook-action name="displayModifyReplyRewardHtml" args='replyreward'>
<!--# 
	$replyRewardInfo = $replyreward->getReplyRewardBo()->getRewardInfo();
#-->
<dl class="">
	<dt class="J_sidebar_forum_toggle">回帖奖励</dt>
	<dd>
		<div class="mb10">
			<label for="atc_replyReward"><input id="atc_replyReward" type="checkbox" value="1" name="replyReward[replyreward]" disabled checked>开启回帖奖励</label>
		</div>
		<div class="mb10">
			<span class="red">*</span>
			积分奖励类型：
			<select style="width:170px;" id="replyrewardcredit" name="replyReward[credittype]" disabled>
				{$replyreward->getRewardCreditType()}
			</select>
		</div>
		<div class="mb10">
			<span class="red">*</span>
			每次奖励数量：
			<input type="text" id="replyrewardnum" value="{$replyRewardInfo['creditnum']}" class="input" style="width:160px;" name="replyReward[creditnum]" disabled >
		</div>
		<div class="mb10">
			<span class="red">*</span>
			累计奖励次数：
			<input type="text" id="replyrewardtimes" value="{$replyRewardInfo['rewardtimes']}" class="input" style="width:160px;" name="replyReward[rewardtimes]" disabled>
		</div>
		<div class="mb10">
			<span class="red">*</span>
			每人最多奖励次数：
			<select style="width:170px;" name="replyReward[repeattimes]" id="repeattimes" disabled>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5" >5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
			</select>
		</div>
		<div class="mb10">
			<span class="red">*</span>
			中奖几率：
			<select style="width:170px;" name="replyReward[chance]" id="chance" disabled>
				<option value="100">100%</option>
				<option value="90">90%</option>
				<option value="80">80%</option>
				<option value="70">70%</option>
				<option value="60">60%</option>
				<option value="50">50%</option>
				<option value="40">40%</option>
				<option value="30">30%</option>
				<option value="20">20%</option>
				<option value="10">10%</option>
			</select>
		</div>
		<div id="replyrewardtips"></div>
	</dd>
</dl>

<!--#
$userAllCredits = $replyreward->getReplyRewardBo()->getUserAllCredits();

$creditPool = $replyreward->getReplyRewardBo()->getCreditPoolNum();
#-->

<script type="text/javascript">
	document.getElementById('replyrewardcredit').value = <?php echo $replyRewardInfo['credittype']?>;
	document.getElementById('repeattimes').value = <?php echo $replyRewardInfo['repeattimes']?>;
	document.getElementById('chance').value = <?php echo $replyRewardInfo['chance']?>;

	setTimeout(function(){replyRewardJs.init();}, 300);
	var replyRewardJs = {
		'userAllCredits' : '{@$userAllCredits|json}',
		'creditPool' : '{$creditPool}',
		'init' : function() {
			var _this = this;
			_this.changeTips();
		},

		'changeTips' : function(){
			var credit = parseInt(document.getElementById('replyrewardcredit').value);
			var	rewardnum = parseInt(document.getElementById('replyrewardnum').value);
			var	rewardtimes = parseInt(document.getElementById('replyrewardtimes').value);
			var	totalcredits = rewardnum * rewardtimes || 0;
			var	_this = this;

			var leftcredit = eval( "(" + replyRewardJs.userAllCredits + ".c" + credit +")" );
			//document.write(leftcredit.unit);
			if (typeof leftcredit == 'undefined') return false;

			
			document.getElementById('replyrewardtips').innerHTML = '(奖励需扣除<span class="red">' + totalcredits + '</span>' + leftcredit.unit + leftcredit.name + '，您共有<span class="red">'  +  leftcredit.num  +  '</span>' + leftcredit.unit + leftcredit.name + '，<span class="green">奖池剩余' + replyRewardJs.creditPool + leftcredit.unit + leftcredit.name + '</span>)';
		}
	}

</script>

</hook-action>


