<hook-action name="displayReadBeforeContentHtml" args='replyreward'>
<style>
.reply_reward {
	height: 28px;
	line-height: 28px;
	height: 28px;
	width: 120px;
	background: url({@G:url.extres}/replyreward/images/reply_reward.png) no-repeat
}
.reply_reward span {
	display: block;
	width: 66px;
	height: 28px;
	vertical-align: middle;
	overflow: hidden;
	text-indent: -2000em;
	float: left;
}
.reply_reward em {
	color: #EA5600;
	float: left;
	width: 50px;
	text-align: center;
	font-style: normal;
}
.reply_reward_lou{
	background:#ffffee url({@theme:site.images}/common/reward.png) 0 center no-repeat;
	padding:40px 0 40px 160px;
	line-height:30px;
	font-size:14px;
	color:#333;
}
</style>

<!--# 
$pid = $replyreward->getPid();
if($pid == 0){
$replyRewardInfo = $replyreward->getThreadInfo();
#-->
<div class="tips reply_reward_lou mb15">
	回复本帖可奖励{$replyRewardInfo['rewardInfo']}哦! 每人最多可获奖<span class="org b">{$replyRewardInfo['repeattimes']}次</span>!<br />
	奖池剩余<span class="org b">{$replyRewardInfo['pool']}</span>(中奖概率{$replyRewardInfo['chance']}%)
</div>
<!--# 
}else{
$replyRewardInfo = $replyreward->getFloorInfo();
#-->	

<div class="reply_reward mb15"><span>回帖奖励</span><em>+ {$replyRewardInfo}</em></div>

<!--# 
}
#-->

</hook-action>


