<!doctype html>
<html>
<head>
<template source='TPL:admin.common.head' />
</head>
<body>
<div class="wrap">
	<div class="nav">
		<ul class="cc">
			<li class="current"><a href="{@url:appcenter/upgrade/run}">版本升级</a></li>
			<li><a href="{@url:appcenter/fixup/run}">安全中心</a></li>
		</ul>
	</div>
	<div class="tips">
	<!--# if($connect_fail){ #-->
		无法连接云平台，请尝试申请云服务。或选择手动升级。
	<!--# } else { #-->
		<!--# if($result){ #-->
		您的网站可以升级到 {$result['name']}
		<p><a href="{@url:appcenter/upgrade/list}" class="btn J_ajax_confirm" data-msg="确定已关闭网站，并建议备份程序和数据库。">立即升级</a></p>
		<!--# } else { #-->
		<b>恭喜，您使用的是最新版本！</b>
		<!--# } #-->
	<!--# } #-->
	</div>
</div>
<template source='TPL:admin.common.footer' />
<script>
Wind.use('dialog',function() {
	
	$('.J_ajax_confirm').on('click',function(e) {
		e.preventDefault();
		var $this = $(this), url = $this.attr('href'), msg = $this.data('msg');
		var params = {
				message	: msg,
				type	: 'confirm',
				isMask	: false,
				follow	: $(this),//跟随触发事件的元素显示
				onOk	: function() {
					window.location.href = url;
				}
			};
			Wind.dialog(params); 
		
	});
	
});
</script>
</body>
</html>
