/*#
===================
@explain: 实名认证
@copyright: Copyright 2012,phpwind.com
@author: longwenid@gmail.com
$Id: verify.css 21240 2012-12-03 07:31:39Z yanchixia $
===================
#*/

/*
===================
图标
===================
*/
.verify_page{
	padding:20px 10px 50px;
}
.verify_list{
	padding-bottom:50px;
}
.verify_list dl{
	padding:15px 0 0;
}
.verify_list dt{
	float:left;
	width:90px;
	font-size:14px;
	font-weight:700;
}
.verify_list img{
	vertical-align:middle;
	max-width:20px;
	max-height:20px;
	margin-right:5px;
}
.verify_list dd{
	overflow:hidden;
	float:left;
	width:600px;
}
.verify_list dd a,
.verify_list dd span{
	display:inline-block;
	margin-right:20px;
}