<hook-action name="displayAppProfileVerify" args="rightType, types, haveVerify, noVerify, conf">
<link href="{@G:url.extres}/verify/css/verify.css?v={@G:version}" rel="stylesheet" />			
<!--=========================实名认证专属内容开始=============================-->
<div class="verify_page">
	<div class="verify_list">
		<!--# if ($noVerify) { #-->
		<dl class="cc">
			<dt>未认证</dt>
			<dd>
				<!--# foreach ($noVerify as $nk => $nv) { #-->
				<a class="J_auth_items" data-tit="{$nv}认证" data-type="{$nk}" href="{@url:app/verify/index/$nk}"><img src="{@G:url.extres}/verify/images/{$nk}_old.gif">{$nv}</a>
				<!--# } #-->
			</dd>
		</dl>
		<!--# } #-->
		<!--# if ($haveVerify) { #-->
		<dl class="cc">
			<dt>已认证</dt>
			<dd>
				<!--# foreach ($haveVerify as $hk => $hv) { #-->
				<span><a class="J_auth_items" data-tit="{$hv}认证" data-type="{$hk}" href="{@url:app/verify/index/$hk}"><img src="{@G:url.extres}/verify/images/{$hk}.gif">{$hv}</a></span>
				<!--# } #-->
			</dd>
		</dl>
		<!--# } #-->
	</div>
	<h2 class="f14 mb10"><span class="mr10">权限列表</span><span class="gray mb5 f12 fn">获得以下操作权限需要通过的认证类型</span></h2>
	<table class="pop_design_tablelist" width="100%">
		<thead>
			<tr>
				<td></td>
				<!--# foreach ($types as $type) { #-->
				<td>{$type}</td>
				<!--# } #-->							
			</tr>
		</thead>
		<!--# foreach ($rightType as $rk => $rt) { #-->
		<tr>
			<td>{$rt}</td>
			<!--# foreach ($types as $tk => $type) { 
				$status = Pw::getstatus($conf['verify.rights'][$rk], $tk) ? 'success' : 'error';
			#-->
			<td>
			
			<span class="tips_icon_{$status}"></span>
			
			</td>
			<!--# } #-->	
		</tr>
		<!--# } #-->
		
	</table>

</div>
<script>
Wind.ready(document, function(){
	Wind.js('{@G:url.extres}/verify/js/authProfile.js?v=' +GV.JS_VERSION);
});
</script>
</hook-action>

<hook-action name="displayAppProfileVerifyFootHtml" args="type, data">
<script>


Wind.ready(document, function(){
	window.PROFILE_TYPE = '{$type}'; //profile_profile 和 profile_contact
	window.VERIFY_TPL = {
		//替换模板地址
		profile : {
			realname : '{$data[realname]|url}'
		},
		contact : {
			alipay : '{$data[alipay]|url}',
			email : '{$data[email]|url}',
			mobile : '{$data[mobile]|url}'
		}
	},
	window.EXTRES_ROOT = '{@G:url.extres}';
	Wind.js('{@G:url.extres}/verify/js/authTrigger.js?v=' +GV.JS_VERSION);
});
</script>
</hook-action>