<hook-action name="realname" args="data">
<!--=======真实姓名=======-->					
<form class="J_auth_form" action="{@url:app/verify/index/verifyRealname}" method="post" >
	<div class="pop_cont">
		<div style="padding:20px 15px 10px;">
		<!--# if ($data['ischeck']) { #-->
		<!--已通过-->
			<p>{$data['title']}：<input type="text" class="input length_3 disabled" disabled value="审核中"></p>
		<!--# } elseif ($data['isVerify']) { #-->
		<!--审核中-->
			<p>{$data['title']}：<input type="text" class="input length_3 disabled mr10" disabled value="{$data['realname']}"><a class="J_auth_items" href="{@url:app/verify/index/passwd?type=realname}" data-tit="密码验证" data-type="checkpwd" data-name="真实姓名认证,realname">修改</a></p>
		<!--# } else { #-->
		
		<!--输入-->
			<p>{$data['title']}：<input type="text" class="input length_3" name="realname"></p>
		<!--# } #-->
		</div>
	</div>
	<div class="pop_bottom">
	<!--# if ($data['isVerify']) { #-->
		<button type="button" class="btn J_close">关闭</button>
	<!--# } elseif ($data['ischeck']) { #-->
		<button type="button" class="btn disabled" disabled>审核中</button>
	<!--# } else { #-->
		<input type="hidden" name="statu" value="{$data['statu']}">
		<button type="submit" class="btn btn_submit">提交</button>
	<!--# } #-->
	</div>
</form>
</hook-action>

<hook-action name="password" args="data">
<form class="J_auth_form" action="{@url:app/verify/index/checkPasswd}" method="post" >
	<div class="pop_cont">
		<div class="p20">
			<p class="gray mb10">为了你的信息安全，请输入密码</p>
			<p>密码：<input type="password" class="input length_3" name="passwd"></p>
		</div>
	</div>
	<div class="pop_bottom">
		<input type="hidden" name="type" value="{$data['type']}">
		<button type="submit" class="btn btn_submit" >提交</button>
	</div>
</form>
</hook-action>

<hook-action name="avatar" args="data">
<!--=======头像认证=======-->	
<div style="width:350px;">
	<!--# if (!$data['isVerify']) { #-->
	<div class="pop_cont">
		<div class="p20 f14 tac">
			<span class="icon_middle_warning"></span>上传头像，即可认证通过
		</div>
	</div>
	<div class="pop_bottom">
		<a class="btn btn_submit" href="{@url:profile/avatar/run?_left=avatar}">去上传头像</a>
	</div>
	<!--# } else { #-->
	<div class="pop_cont">
		<div class="p20 f14 tac">
			<span class="icon_middle_success"></span>头像认证已通过。
		</div>
	</div>
	<div class="pop_bottom">
		<button type="button" class="btn J_close">关闭</button>
	</div>
	<!--# } #-->
</div>
</hook-action>

<hook-action name="email" args="data">
<!--=======邮箱=======-->
<form class="J_auth_form" action="{@url:app/verify/index/doEmail}" method="post" >
	<!--# if ($data['isVerify']) { #-->
	<div class="pop_cont">
		<div style="padding:20px 15px 10px;">
			<p>电子邮箱：<input type="text" class="input length_4 mr10 disabled" name="email" value="{$data['email']}" disabled><a class="J_auth_items" href="{@url:app/verify/index/passwd?type=email}" data-tit="密码验证" data-type="checkpwd" data-name="电子邮箱认证,email">修改</a></p>
		</div>
	</div>
	<div class="pop_bottom">
		<button type="button" class="btn J_close">关闭</button>
	</div>
	<!--# } else { #-->
	<div class="pop_cont">
		<div style="padding:20px 15px 10px;">
			<p>电子邮箱：<input type="text" class="input length_4" name="email" id="J_auto_email" value="{$data['email']}" ></p>
		</div>
	</div>
	<div class="pop_bottom">
		<input type="hidden" name="statu" value="{$data['statu']}">
		<button type="submit" class="btn btn_submit">发送邮件</button>
	</div>
	<!--# } #-->
</form>
</hook-action>

<hook-action name="doEmail" args="data">
<div class="core_pop_wrap" style="left:50%;top:50%;">
	<div class="core_pop">
		<div>
			<div class="pop_top">
				<a href="#" class="pop_close">关闭</a>
				<strong>电子邮箱验证</strong>
			</div>
			<div class="pop_cont">
				<dl style="padding:20px;">
					<dt style="width:40px;"><span class="icon_middle_warning"></span></dt>
					<dd class="f14">
						已经发送一封认证邮件到：<span class="s4">wenj.yewj@alibaba-inc.com</span><br>
						点击邮箱中的认证链接访问即可通过验证。<br>
						如果长时间没有收到邮件，你可以<br>
						<a href="">修改邮箱</a> 或者 <a href="">重新发送邮件</a>
					</dd>
				</dl>
			</div>
			<div class="pop_bottom">
				<button type="button" class="btn">关闭</button>
			</div>
		</div>
	</div>
</div>
</hook-action>

<hook-action name="alipay" args="data">
<!--=======支付宝=======-->
<div>
	<!--# if ($data['isVerify']) { #-->
	<div class="pop_cont">
		<div style="padding:20px 15px 10px;">
			<p>支付宝账户名：<input type="text" class="input length_4 mr10 disabled" value="{$data['alipay']}" disabled><a href="{@url:app/verify/index/passwd?type=alipay}" data-tit="密码验证" data-type="checkpwd" data-name="支付宝认证,alipay" class="J_auth_items">修改</a></p>
		</div>
	</div>
	<div class="pop_bottom">
		<button type="button" class="btn">关闭</button>
	</div>
	<!--# } else { #-->
	<form class="J_auth_form" action="{@url:app/verify/index/loginAlipay}" method="post" >
	<div class="pop_cont">
		<div style="padding:20px 15px 10px;">
			<p>支付宝账户名：<input type="text" class="input length_4" name="alipay"></p>
		</div>
	</div>
	<div class="pop_bottom">
	<input type="hidden" name="statu" value="{$data['statu']}">
		<button type="submit" class="btn btn_submit">下一步</button>
	</div>
	</form>
	<!--# } #-->
</div>
</hook-action>

<hook-action name="mobile" args="data">			
<div style="width:400px;">
	<form class="J_auth_form" action="{@url:app/verify/index/verifyMobile}" method="post" >
		<!--# if ($data['isVerify']) { #-->
		<div class="pop_cont">
			<div style="padding:20px 15px 10px;">
				<p>手机号码：<input type="text" class="input length_4 mr10 disabled" name="mobile" disabled value="{$data['mobile']}"><a class="J_auth_items" href="{@url:app/verify/index/mobile?statu=1}" data-tit="手机认证" data-type="mobile">修改</a></p>
			</div>
		</div>
		<div class="pop_bottom">
			<button type="button" class="btn">关闭</button>
		</div>
		<!--# } else { #-->
		<div class="pop_cont">
			<div style="padding:10px 15px 10px;">
				<!-- <div class="" style="height:18px;"></div> -->
				<p class="" id="J_mcode_tip" style="display:none;">验证码已发送到<span id="J_send_mobile"></span><a class="s4" id="J_mobile_change" href="">（修改号码）</a>超过90秒未收到验证码，请点击重新发送。<button disabled="" type="button" class="btn disabled" id="J_mcode_resend"></button></p>
				<dl>
					<dt>手机号码：</dt>
					<dd>
						<input type="hidden" id="J_reg_mobile_hide" name="mobile">
						<input type="text" class="input length_2 mr10" id="J_reg_mobile" data-counttime="90"><button id="J_show_mcode" type="button" class="btn" style="display:none;">获取验证码</button>
					</dd>
				</dl>
				<dl>
					<dt>验证码：</dt>
					<dd>
						<input type="text" class="input length_2 " name="mobileCode" id="J_reg_mobileCode">
					</dd>
				</dl>
			</div>
		</div>
		<div class="pop_bottom">
			<input type="hidden" name="statu" value="{$data['statu']}">
			<button type="submit" class="btn btn_submit">提交</button><span style="display:none;" id="J_reg_tip__mobile"></span>
		</div>
		<!--# } #-->
	</form>
</div>
<script>
window.M_CHECK = '{@url:app/verify/index/sendmobile}';
window.M_CHECK_MOBILE = '{@url:app/verify/index/checkmobile}';
</script>
</hook-action>

<div class="core_pop_wrap" style="left:50%;top:50%; display:none;">
	<div class="core_pop">
		<div>
			<div class="pop_top">
				<a href="#" class="pop_close">关闭</a>
				<strong>手机号码认证</strong>
			</div>
			<div class="pop_cont">
				<div style="padding:10px 15px 10px;">
					<p class="tips_icon_success mb10">验证码已发送到15058186301，超过90秒未收到验证码，<br>请点击重新发送</p>
					<dl>
						<dt>手机号码：</dt>
						<dd>
							<input type="text" class="input length_4 disabled" value="18888888888" disabled>
						</dd>
					</dl>
					<dl>
						<dt>验证码：</dt>
						<dd>
							<input type="text" class="input length_2 mr10"><button type="button" class="btn">获取验证码</button>
						</dd>
					</dl>
				</div>
			</div>
			<div class="pop_bottom">
				<button type="button" class="btn btn_submit">下一步</button>
			</div>
		</div>
	</div>
</div>
