<!doctype html>
<html>
<head>
<template source='TPL:admin.common.head' />
</head>
<body>
<div class="wrap">	
	<div class="nav">
		<ul class="cc">
			<li class="current"><a href="{@WindUrlHelper::createUrl('design/page/run')}">系统页面</a></li>
			<li><a href="{@WindUrlHelper::createUrl('design/portal/run')}">自定义页面</a></li>
		</ul>
	</div>
	<div class="h_a">功能说明</div>
	<div class="prompt_text">
		<ul>
			<li>"页面ID" 指的是此页面在门户体系里的ID，并不是自定义页面的ID，对应 themes/portal/local/目录里的模版文件夹</li>
		</ul>
	</div>
	<div class="table_list">
		<table width="100%">
			<colgroup>
				<col width="160">
			</colgroup>
			<thead>
				<tr>
					<td>页面ID</td>
					<td>页面名称</td>
					<td>操作</td>
				</tr>
			</thead>
			<!--# foreach ($list as $v): #-->
			<tr>
				<td><a href="{$v['url']}" target="_blank">{$v['page_id']}</a></td>
				<td><a href="{$v['url']}" target="_blank">{$v['page_name']}</a></td>
				<td>
					<a href="{$v['url']}" class="mr5" target="_blank">[查看]</a>
					<a href="{@WindUrlHelper::createUrl('design/permissions/page?id='.$v['page_id'])}" class="mr5">[权限管理]</a>
					<a href="{@WindUrlHelper::createUrl('design/module/run?pageid='.$v['page_id'])}" class="mr5">[模块管理]</a>
					<a href="{@WindUrlHelper::createUrl('design/page/doclear?id='.$v['page_id'])}" class="mr5 J_ajax_del" data-msg="您确定要清空页面上的所有模块？<br>清空后将不可恢复！">[清空模块]</a>
					
				</td>
			</tr>
			<!--# endforeach; #-->
		</table>
	</div>
	<div style="padding:0 10px 15px;"><page tpl='TPL:common.page'  total="$totalpage" page="$page" per="$perpage" count="$count" url="design/page/run" args="$args"/></div>
	

		
</div>
<template source='TPL:admin.common.footer' />
</body>
</html>